@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 2rem;
  font-size: 16px;
  background-color: #222;
}

.title {
  font-family: inter;
  font-weight: 400;
  font-size: 1.5em;
  color: orange;
  text-align: center;
}
